body {
    font-family: sans-serif;
    margin: 0;
}

.game {
    align-items: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #282e3a;
    display: flex;
    flex-wrap: wrap;
    height: 50vw;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 5%;
    position: relative;
    width: 50vw;
}

.clickable {
    height: 45%;
    opacity: 0.25;
    transition: 0.75s;
    width: 45%;
}

.top-left.round-corner {
    border-radius: 100% 5px 5px;
}

.top-right.round-corner {
    border-radius: 5px 100% 5px 5px;
}

.bottom-left.round-corner {
    border-radius: 5px 5px 5px 100%;
}

.bottom-right.round-corner {
    border-radius: 5px 5px 100% 5px;
}

.perfect-center {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

.control-container {
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

.control {
    background-color: #282e3a;
    border-radius: 100px;
    cursor: pointer;
    height: 25%;
    margin: 10px 0;
    position: relative;
    width: 25%;
}

.control .background {
    background-color: green;
    border-radius: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 80%;
    pointer-events: initial;
    position: absolute;
    width: 80%;
}

.control p {
    pointer-events: none;
    position: relative;
    text-align: center;
    z-index: 1;
}

.hover {
    opacity: 0.5;
}

.active {
    opacity: 1;
}

.hud {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    width: 50vw;
}

.score, .high-score {
    margin: 0 auto;
    text-align: center;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}